<div id="aboutMe">
    <h1 class="text-[#CE79E0] text-6xl titulo">Sobre mí</h1>
    <p>
      Estudiante de programación apasionada por el desarrollo de software.
      Actualmente en búsqueda de oportunidades para aplicar y ampliar mis
      conocimientos en el mundo real. Poseo habilidades sólidas en lenguajes de
      programación como Python y Java, así como un fuerte compromiso con la
      resolución de problemas y el aprendizaje continuo. Abierta a colaborar en
      proyectos desafiantes y crecer como profesional en el campo de la
      tecnología.
    </p>

    <h2 class="text-[#CE79E0] text-3xl font-semibold mb-12">
      Actualmente estudio y busco ampliar mi campo laboral en el mundo del
      desarrollo de aplicaciones y web.
    </h2>

    <p>
      Si quieres ponerte en contacto conmigo escríbeme a <span
        class="text-[#0EFBA5] lg:text-xl text-[1rem] underline">andreavictoriallove2000@gmail.com</span
      > .
    </p>
    <p>
      Mira mi experiencia laboral y mis conocimientos mas a detalle en <a
        href="https://www.linkedin.com/in/andrea-llovera-de-sousa-07aa351b4"
        class="text-[#0EFBA5] underline">LinkedIn</a
      >.
    </p>
  </div>

  <style>
    @font-face {
      font-family: titulofonts;
  
      src: url("/public/fonts/deanicked/Deanicked.ttf");
    }
  
    @font-face {
      font-family: contenidoFonts;
  
      src: url("/public/fonts/robotoMono/ttf/roboto-mono-latin-400-normal.ttf");
    }
  
    .titulo {
      font-family: titulofonts;
    }
  
    div {
      background-color: #251d44;
      padding: 15% 2% 15% 2%;
    }
     div > p {
      color: #85b0da;
      font-size: x-large;
      margin-bottom: 3rem;
    }
   
  </style>
  