<header class="h-[150px] w-full lg:h-full lg:w-[300px] flex flex-row lg:flex-col justify-between lg:justify-center items-center z-50 ">
  <img class="rounded-full w-52 hidden lg:flex " src="/src/img/me.png" alt="Logo" />

  <a href="#andrea">
    <h1 class="text-[#CE79E0] text-5xl lg:hidden titulo">
      ANDREA.
    </h1>
  </a>
  
  <!-- <nav class="mt-8 px-2 flex flex-col">
    <a href="#andrea">ANDREA LLOVERA</a>
    <a href="#aboutMe">SOBRE MI</a>
    <a href="#projects">PORFOLIO</a>
    <a href="#studies">EDUCACIÓN</a>
    <a href="#skills">SKILLS</a>
    <a href="#contact">CONTACTO</a>
  </nav> -->
  <nav>
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div>
        <div class="hidden lg:w-full w-1/2 absolute right-0 mt-12 z-10 origin-top-left lg:flex lg:flex-col lg:justify-center lg:items-center bg-[#CE79E0] rounded-lg mr-8 lg:bg-[#372860] lg:mr-0 " id="navbar-default">
          <ul class="font-medium flex flex-col p-4 md:p-0  rounded-lg md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
            <li>
              <a href="#andrea">ANDREA LLOVERA</a>
            </li>
            <li>
              <a href="#aboutMe">SOBRE MI</a>
            </li>
            <li>
              <a href="#projects">PORFOLIO</a>
            </li>
            <li>
              <a href="#studies">EDUCACIÓN</a>
            </li>
            <li>
              <a href="#skills">SKILLS</a>
            </li>
            <li>
              <a href="#contact">CONTACTO</a>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </nav>
</header>

<script>
  const links = document.querySelectorAll('a[href^="#"]')
  links.forEach(link => {
    link.addEventListener('click', e => {
      const div= document.getElementById('navbar-default')
      div.classList.add('hidden')
      const navbar = document.querySelector('[data-collapse-toggle="navbar-default"]')
      navbar.setAttribute('aria-expanded', 'false')
    })
  })
</script>


<style>
 @font-face {
    font-family: titulofonts;

    src: url("/public/fonts/deanicked/Deanicked.ttf");
  }

  @font-face {
    font-family: contenidoFonts;

    src: url("/public/fonts/robotoMono/ttf/roboto-mono-latin-400-normal.ttf");
  }
  .titulo {
      font-family: titulofonts;
    }

  header {
    padding: 1rem;
    background-color: #f3f4f6;
    position: fixed;
    background-color: #372860;
  }

  nav {
    gap: 1rem;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #0EFBA5;
    font-weight: bolder;
    font-family: contenidoFonts;
  }
</style>
