<div class="principal " id="skills">
    <h1 class="text-[#CE79E0] text-6xl titulo">Skills</h1>
    <p class="lenguaje text-3xl mt-5 font-semibold">
      LENGUAJES DE PROGRAMACIÓN
    </p>
    <div class="flex flex-wrap">
      <img
        class="w-14 h-14"
        src="/img/java-svgrepo-com.svg"
        alt="fotoJava"
      />
      <img
        class="w-14 h-14"
        src="/img/sql-database-generic-svgrepo-com.svg"
        alt="sqlFoto"
      />
      <img
        class="w-14 h-14"
        src="/img/pl-file-format-variant-svgrepo-com.svg"
        alt="plFtoto"
      />
      <img
        class="w-14 h-14"
        src="/img/python-svgrepo-com.svg"
        alt="pythonFoto"
      />
      <img
        class="w-14 h-14"
        src="/img/c-sharp-svgrepo-com.svg"
        alt="C#Foto"
      />
      <img class="w-14 h-14" src="/img/js-svgrepo-com.svg" alt="jsFoto" />
    </div>
    <p class="lenguaje text-3xl mt-5 font-semibold">FRAMEWORKS Y LIBRERIAS</p>
    <div class="flex flex-wrap">
      <img
        class="w-14 h-14"
        src="/img/react-svgrepo-com.svg"
        alt="reactFoto"
      />
      <img
        class="w-14 h-14"
        src="/img/nodejs-svgrepo-com.svg"
        alt="nodeFoto"
      />

      <img
        class="w-14 h-14"
        src="/img/bootstrap-svgrepo-com.svg"
        alt="bootstrapFot"
      />
      <img
        class="w-14 h-14"
        src="/img/tailwind-svgrepo-com.svg"
        alt="fotoTailwind"
      />
      <img
        class="w-14 h-14"
        src="/img/socket-io-svgrepo-com.svg"
        alt="fotoSocket"
      />
    </div>
    <p class="lenguaje text-3xl mt-5 font-semibold">SOFTWARE Y HERRAMIENTAS</p>
    <div class="flex flex-wrap">
      <img
        class="w-14 h-14"
        src="/img/visual-studio-code-svgrepo-com.svg"
        alt="fotoVisual"
      />
      <img class="w-14 h-14" src="/img/git-svgrepo-com.svg" alt="fotoGit" />
      <img
        class="w-14 h-14"
        src="/img/github-142-svgrepo-com.svg"
        alt="fotoGithub"
      />
      <img
        class="w-14 h-14"
        src="/img/eclipse-icon-svgrepo-com.svg"
        alt="fotoEclipse"
      />
      <img
        class="w-14 h-14"
        src="/img/database-server-svgrepo-com.svg"
        alt="fotoOracle"
      />
      <img
        class="w-14 h-14"
        src="/img/expo-svgrepo-com.svg"
        alt="fotoExpo"
      />
      <img
        class="w-14 h-14"
        src="/img/linux-svgrepo-com.svg"
        alt="fotoLinux"
      />
    </div>
    <p class="lenguaje text-3xl mt-5 font-semibold">LO ESTUDIÉ EN:</p>
    <p class="texto text-xs leading-6 ">
      * IES Ribera del Tajo - <span class="text-[#0EFBA5]"
        >Talavera de la Reina</span
      >
    </p>
  </div>

  <style>
    @font-face {
      font-family: titulofonts;
  
      src: url("/public/fonts/deanicked/Deanicked.ttf");
    }
  
    @font-face {
      font-family: contenidoFonts;
  
      src: url("/public/fonts/robotoMono/ttf/roboto-mono-latin-400-normal.ttf");
    }

    .principal {
      padding-bottom: 15%;
      padding-top: 15%;
    }
  
    .titulo {
      font-family: titulofonts;
    }
  
    div {
      background-color: #251d44;
      padding-left: 2%;
      padding-right: 2%;
    }
     div > p {
      color: #85b0da;
      font-size: x-large;
      margin-bottom: 3rem;
    }
  </style>
  